<!doctype html>
<html>
<head>
    <style>
    #post_button {display: hidden;}
    </style>
<!--     <link rel="stylesheet" href-"./style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <title>LaterGator</title>
</head>


<body>
    
  <p>*~Later Gator!~* This is the nav bar. <a href="/">home</a>. Also, <a href="/logout">logout</a></p>
  <hr>
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

  {% block content %} put your content here {% endblock %}

</body>
</html>