{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <h1>Welcome {{username}}!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <img id ="welcome_image" src='/static/latergatorloggedin.jpg' class="img-rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <h2 id="status"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

            <fb:login-button id="fb_login_button" scope="public_profile,email,manage_pages,publish_pages,publish_actions" onlogin="checkLoginState();">
            </fb:login-button>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <a href ="/post_pages" class="btn btn-success" id="post_pages_button">Let's post to my Facebook pages!</a>

            <a href ="/post_profile" class="btn btn-success" id="post_profile_button">Let's post to my Facebook profile!</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          {% if logged_in %}
              <h2>You are logged into Twitter!</h2>
          {% else %}
              <h2>Please login to Twitter</h2>
          {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          {% if logged_in %}
            <a href ="/post_twitter" class="btn btn-success" id="post_twitter_button">Post to Twitter</a>
          {% else %}

          <a href="/twitter_oauth"><img src="/static/twitter_login.jpg"></a>
          {% endif %}
        </div>
    </div>
</div>

<script src="/static/js/logged_in_page.js" />



{% endblock %}