{% extends 'base.html' %}
{% block content %}

    <h1>Welcome {{username}}!</h1>
<h2 id="status"></h2>

<script>

  function statusChangeCallback(response) {

    $('#post_pages_button').hide();
    $('#post_profile_button').hide();
    console.log('statusChangeCallback');



    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      var params = {'access_token': response['authResponse']['accessToken'],
                    'facebook_user_id': response['authResponse']['userID']};

      $.post('/add_fb_token', params, tokenSuccessHandler)

      testAPI();

    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Would you like to post to Facebook?' +
        ' Please click the button below';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(statusChangeCallback);
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '229535457461476',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.5' // use graph api version 2.5
    });

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(statusChangeCallback);


  };

  function tokenSuccessHandler(data) {
    $('#fb_login_button').hide();
    $('#post_pages_button').show();
    $('#post_profile_button').show();

  }

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'You are logged in and are able to access the pages ' + response.name + ' manages!';
    });
  }
</script>



<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->




<fb:login-button id="fb_login_button" scope="public_profile,email,manage_pages,publish_pages,publish_actions" onlogin="checkLoginState();">
</fb:login-button>

<!-- <div id="status">
</div> -->


<a href ="/post_pages" id="post_pages_button">Let's post to my pages!</a>
<!-- (This will be a button) -->




<h2>Facebook Profile</h2>
<a href ="/post_profile" id="post_profile_button">Let's post to my profile!</a>


<h2>Twitter</h2>
<a href ="/twitter_oauth" id="auth_twitter_button">Authorize Twitter</a>
<br>
<a href ="/post_twitter" id="post_twitter_button">Post to Twitter</a>


{% endblock %}