{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-12 col-lg-offset-3">
            <h1>Set it, and forget it!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <h2>Let's post to your profile, {{username}}!</h2>
        </div>
    </div>

    <br>

   <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <form action='/confirm_profile' method="POST">
                <p>Write your witty/thoughtful/deep/hilarious profile post here:</p>
                <textarea id="userpost" class="form-control" rows="5" cols="54" name="userpost" required="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <p id="remaining_chars"></p>
        </div>
    </div>

        <input id="hidden_time" type="hidden" name="publish_timestamp">



    <div class="row">
        <div class="col-xs-4 col-xs-offset-3 col-sm-4 col-sm-offset-3 col-md-4 col-med-offset-3 col-lg-4 col-lg-offset-3">
            <h3>Current time:</h3>
            <p id="time_right_now"></p>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h3>Next best time to post:</h3>
                <p id="time_suggestion"></p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">  
            <img src='/static/images/latergator.jpg' class="img-rounded" height="300" width="400" onmouseover="this.src='/static/images/latergatorsuggestsfb.jpg';" onmouseout="this.src='/static/images/latergator.jpg';" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <h2>Send my post at:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <p id="time_example"></p>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <input class="form-control" id="time_textbox" name="time_to_show" autocomplete="off" rows="5" cols="50" required="true">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <p id="time_example"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <input class="btn btn-success" type="submit" value="Set it, and forget it!">
        </div>
    </div>

        </form>
</div>

<script src="https://rawgithub.com/wanasit/chrono/master/chrono.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
<script src="/static/js/post_profile.js"></script>


{% endblock %}