{% extends 'base.html' %}
{% block content %}

<script src="https://rawgithub.com/wanasit/chrono/master/chrono.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>

    <h1>Set it, and forget it!</h1>
        <br>

    <p>Let's post to your Twitter, {{username}}!</p>

<b>Hover over this map for some pro-tips!</b>
<br>

<img src='/static/USAnotext.jpg' height="500" width="600" onmouseover="this.src='/static/USAwithzones2.jpg';" onmouseout="this.src='/static/USAnotext.jpg';" />


<br>
    <form action='/confirm_twitter' method="POST">

        <p>Write your witty/thoughtful/deep/hilarious tweet here:</p>
                <textarea id="userpost" rows="5" cols="100" name="userpost" maxlength="140" required="true"></textarea>
                <p id="remaining_chars"></p>

                        <script type="text/javascript">
                $(document).ready(function(){

                    function changedTime() {
                         // time_from_textbox is whatever they typed in
                        var time_from_textbox = $('#time_textbox').val();
                        console.log('time_from_textbox', time_from_textbox);

                        // Parsed chrono date (chrono.parseDate(x))
                        var chrono_time = chrono.parseDate(time_from_textbox);
                        console.log('chrono_time', chrono_time);

                        // format that to the value we want to actually send to facebook (seconds epoch value)
                        var moment_time = moment(chrono_time);
                        console.log('moment_time', moment_time);

                        var moment_unix = moment_time.format('X');

                        var timezone = moment_time.format('zz')

                        console.log(timezone)
                        console.log(moment_unix)


                        // setting our final time value (seconds since the epoch) to our hidden input
                        $('#hidden_time').val(moment_unix);
                        $('#time_example').html(chrono_time);

                    }
                    $('#time_textbox').on('input', changedTime);
                    var current_time = moment();

                    var hour_of_current_time = parseInt(current_time.format('H'));
                    console.log(hour_of_current_time);

                    if (hour_of_current_time < 8) {
                        $('#time_textbox').val("Today at 8am");
                    } else if ( hour_of_current_time>= 8 && hour_of_current_time < 17) {
                        $('#time_textbox').val("Today at 5pm");
                    } else if( hour_of_current_time >= 17 && hour_of_current_time < 22) {
                        $('#time_textbox').val("Today at 10pm");
                    } else {
                        $('#time_textbox').val("Tomorrow at 8am");
                    }

                    changedTime();

                });

        
            </script>
                <input id="hidden_time" type="hidden" name="publish_timestamp">
<!--                 <input id="hidden_time_textbox" type="hidden" name="word_time_format">
 -->                
<br>              
<img src='/static/latergator.jpg' height="300" width="400" onmouseover="this.src='/static/latergatorsuggests.jpg';" onmouseout="this.src='/static/latergator.jpg';" />
<br>
    <input id="time_textbox" name="time_to_show" rows="5" cols="100">
    <p>Is this the time you'd like to post at?</p>
    <p id="time_example"></p>

        <input type="submit" value="Set it, and forget it!">
    </form>

{% endblock %}