{% extends 'base.html' %}
{% block content %}

    <h1>Set it, and forget it!</h1>
        <br>

<b>Hover over this map for some pro-tips!</b>
<br>

<img src='/static/USAnotext.jpg' height="500" width="600" onmouseover="this.src='/static/USAchatty.jpg';" onmouseout="this.src='/static/USAnotext.jpg';" />


<br>
    <form action="/confirm" method="POST">

        <p>Write your witty/thoughtful/deep/hilarious page post here:</p>
                <textarea rows="5" cols="100" name="userpost" required></textarea>

        <p>When would you like to post?:</p>
                <select name="hour">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

                <select name="minute">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>

                <select name="ampm">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                </select>

                <select name="timezone">
                    <option value="Pacific">Pacific Time</option>
                    <option value="Mountain">Mountain Time</option>
                    <option value="Central">Central Time</option>
                    <option value="Eastern">Eastern Time</option>
                </select>

                <input type="date" name="monthyear">

<!--     Eventually use Chrono or moment? -->

        <input type="submit" value="Set it, and forget it!">
    </form>

{% endblock %}


input type="username" name="username" required>