{% extends 'base.html' %}
{% block content %}


<h1>Register</h1>

<form action="/authorize_new_user" method="POST">

    <div>
        <label>
            Pick a fun username!:
            <br>
            <input type="username" name="username">
        </label>
    </div>

    <div>
        <label>
            Choose a password:
            <br>
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Register">
    </div>

</form>

{% endblock %}