{% extends 'base.html' %}
{% block content %}

    <h1>Welcome to LaterGator!</h1>
        <img src="https://s-media-cache-ak0.pinimg.com/originals/d0/89/a9/d089a94a68c50a4fbfe5dc9b3fc7a5bd.jpg">
        <p>LaterGator lets you post your status at a later time and will suggest the best times to post your status based on location.</p>
        <p>Create a login below to start posting!</p>


<h2>Register</h2>

<form action="/authorize_new_user" method="POST">

    <div>
        <label>
            Pick a fun username!:
            <input type="username" name="username">
        </label>
    </div>

    <div>
        <label>
            Choose a password:
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <input type="submit" value="Register">
    </div>

</form>

{% endblock %}